<?xml version="1.0" encoding="UTF-8" ?>
<options>
    <option id="1">
        <name>Grayscale</name>
        <description>Converts a 3 channel RGB image to grayscale</description>
    </option>
    <option id="2">
        <name>Brightness / Darkness</name>
        <description>Enter a positive value to brighten the
image or a negative value to darken it</description>
        <parameters>
            <description> Adjustment level </description>
        </parameters>
    </option>
    <option id="3">
        <name>Blurring</name>
        <description>Blurs the image</description>
        <parameters>
            <description> Blurring factor</description>
        </parameters>
    </option>

    <option id="4">
        <name>Saturation</name>
        <description>Increase or decrease the saturation</description>
        <parameters>
            <description>Saturation change</description>
        </parameters>
    </option>

    <option id="5">
        <name>Amazing filter</name>
        <description>Creates an amazing effect</description>
        <parameters>
            <description> First param</description>
            <description> Second param</description>
        </parameters>
    </option>

</options>