QtTest.sdf
QtTest/Debug/
Win32/Debug/QtTest.exe
Win32/Debug/QtTest.ilk
Win32/Debug/QtTest.pdb
QtTest/GeneratedFiles/Debug/moc_controlwindow.cpp
QtTest/GeneratedFiles/Debug/moc_glWidget.cpp
QtTest/GeneratedFiles/qrc_controlwindow.cpp
QtTest/head.raw
